@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0faff;
}

.container {
    position: relative;
    max-width: 470px;
    width: 100%;
    border-radius: 12px;
    margin: 0.5em 0;
    padding: 20px 30px 70px;
    background: #1b4f72;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

h2 {
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    color: #fff;
    margin-bottom: 8px;
}

input {
    height: 60px;
    outline: none;
    border: none;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    border-radius: 8px;
    background: #fff;
    margin-bottom: 15px; /* Added margin to separate input fields */
}

button {
    background-color: #fff;
    font-size: 18px;
    height: 60px;
    padding: 0 15px;
    font-weight: 500;
    color: #333;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
